{# This is how comments are done in Django #}

{% extends 'payroll_app/base.html' %}
{% block content %}
<div class="col-md-12">
    <div class="card mt-3 mx-auto px-3 py-3">
        <div class="container mb-3 py-3">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-2 pb-2 border-bottom">
                        <h1 class="mb-0">Employees</h1>
                        <a href="{% url 'create_employee' %}" class="btn btn-secondary">
                            + New Employee
                        </a>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <th scope="col">Name</th>
                            <th scope="col">ID Number</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Allowance</th>
                            <th scope="col">Overtime</th>
                            <th scope="col">Options</th>
                        </thead>
                        <tbody>
                            {% for e in employees %}
                            <tr>
                                <td>{{ e.getName }}</td>
                                <td>{{ e.getID }}</td>
                                <td>{{ e.getRate }}</td>
                                <td>{{ e.getAllowance }}</td>
                                <td>{{ e.getOvertime }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!-- Edit button  -->
                                        <a href="{% url 'update_employee' pk=e.pk %}" class="btn btn-primary btn-sm mr-1 mx-2">Update</a> 
                                        <!-- Delete button -->
                                        <a href="{% url 'delete_employee' pk=e.pk %}" class="btn btn-danger btn-sm mx-2">Delete</a>
                                        <!-- Update button -->
                                         <form method="POST" action="#" class="d-inline">
                                            {% csrf_token %}
                                            <div class="input-group input-group-sm">
                                                <input type="number" step="1" name="overtime_hours" min="0" class="form-control px-1 mx-2" required placeholder="Overtime Hours">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-success">Add Overtime</button>
                                                </div>
                                            </div>

                                         </form>

                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
{% endblock %}
